RiyadisiDevelopment/RiyadisiDevelopment.opensdf
ipch
Debug
/RiyadisiDevelopment/*.suo
/RiyadisiDevelopment/*.suo
/RiyadisiDevelopment/RiyadisiDev/Debug

/RiyadisiDevelopment/RiyadisiDevelopment.sdf
Release
/RiyadisiDevelopment/RiyadisiDev/Testing
/RiyadisiDevelopment/Release

RiyadisiDevelopment/RiyadisiDev/output.out
*.vsp
RiyadisiDevelopment/output.out
/RiyadisiDevelopment/*.psess
/RiyadisiDevelopment/*.vsp
/RiyadisiDevelopment/*.psess
/RiyadisiDevelopment/RiyadisiDev/log/log.log

*.log
*.log
RiyadisiDevelopment/RiyadisiDev/mwcomtypes_p.c
RiyadisiDevelopment/RiyadisiDev/states.txt
RiyadisiDevelopment/RiyadisiDev/mwcomtypes_i.c
RiyadisiDevelopment/RiyadisiDev/mwcomtypes_h.h
RiyadisiDevelopment/RiyadisiDev/data/data/0.data