RiyadisiDevelopment/RiyadisiDevelopment.opensdf
ipch
Debug
/RiyadisiDevelopment/*.suo
/RiyadisiDevelopment/*.suo
/RiyadisiDevelopment/RiyadisiDev/Debug

/RiyadisiDevelopment/RiyadisiDevelopment.sdf
Release
